/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Note: Partial style using
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, address, img, small, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  color: #313131;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav-item {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 1200px) {
  .nav-item {
    padding: .75rem 0;
  }
}

.nav-link {
  color: #313131;
  position: relative;
  display: inline-block;
  outline: none;
  letter-spacing: .1rem;
}

@media (min-width: 1200px) {
  .main {
    grid-area: main;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .main::-webkit-scrollbar {
    width: .8rem;
  }
  .main::-webkit-scrollbar-track {
    background-color: #fdfdfd;
  }
  .main::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #cecece;
    border: 2px solid #fdfdfd;
  }
}

.header {
  padding: 1.5rem 0;
  background-color: #fdfdfd;
  border-bottom: 1px solid #f5f5f5;
}

@media (min-width: 1200px) {
  .header {
    grid-area: header;
    border: none;
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #f5f5f5;
  }
}

.header-logo {
  display: none;
}

@media (min-width: 1200px) {
  .header-logo {
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 5rem;
  }
}

.logo {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.logo:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section {
  padding: 2rem;
  max-width: 880px;
}

@media (min-width: 1200px) {
  .section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.section-header {
  text-align: center;
}

@media (min-width: 1200px) {
  .section-header {
    text-align: initial;
    padding: 2rem 0;
    border-bottom: 1px solid #cecece;
  }
}

.section-title {
  padding: .25rem .5rem;
  font-family: Lora, Georgia, serif;
  font-size: 2.5rem;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .section-title {
    padding: .25rem 0;
  }
}

.section-subtitle {
  font-size: 1.28rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.section-content {
  margin-top: 3rem;
}

.section-pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  padding: 5rem 0;
}

@media (min-width: 1200px) {
  .footer {
    grid-area: footer;
    width: 320px;
    background-color: #fdfdfd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-right: 1px solid #f5f5f5;
  }
}

.footer-copyright {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  margin-top: .8rem;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icon {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #cecece;
  -webkit-transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer-icon:hover {
  color: #313131;
}

@media (min-width: 1200px) {
  .wrapper {
    height: 100%;
    display: -ms-grid;
    display: grid;
    overflow: hidden;
    -ms-grid-columns: 321px 1fr;
        grid-template-columns: 321px 1fr;
        grid-template-areas: "header main"
 "header main"
 "header main"
 "footer main";
  }
}

.jobs {
  margin: 3rem 0;
}

.jobs-title {
  font-family: Lora, Georgia, serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.job {
  margin-bottom: 3rem;
}

.job-position {
  font-weight: 600;
}

.job-position > span {
  font-weight: 400;
  font-style: italic;
}

.job-name {
  margin-bottom: 1rem;
}

.job-name a {
    color: inherit;
    text-decoration: underline;
}

.job-response-title {
  font-weight: 600;
  margin-bottom: .5rem;
}

.job-response-list {
  list-style: disc;
  padding-left: 3rem;
  font-size: 1.5rem;
}

.job-stack {
    margin-top: 0.75rem;
    font-size: 14px;
}

.job-stack strong {
    font-weight: 700;
}

.skills {
  margin: 3rem 0;
}

.skills-title {
  font-family: Lora, Georgia, serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (min-width: 767px) {
  .skills-list {
    display: -ms-grid;
    display: grid;
    grid-gap: 0 1rem;
        grid-template-areas: "col1 col2";
    grid-auto-flow: column;
  }
}

.skill {
  margin-top: 1rem;
}

.skill-title {
    font-weight: 600;
}

@media (min-width: 767px) {
  .skill:nth-child(-n+5) {
    grid-area: col1;
    grid-row: auto;
  }
  .skill:nth-child(n+6) {
    grid-area: col2;
    grid-row: auto;
  }
}

.achievements {
    margin: 3rem 0;
}

.achievements-title {
    font-family: Lora, Georgia, serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.achievements-list {
    list-style: disc;
    padding-left: 3rem;
    font-size: 1.5rem;
}

.educations {
  margin: 3rem 0;
}

.educations-title {
  font-family: Lora, Georgia, serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.education-title {
  font-weight: 600;
}

.education-duration {
  font-style: italic;
}

.work-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 3rem;
}

@media (min-width: 767px) {
  .work-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.work-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #cecece;
}

.work-pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #313131;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: visibilty .3s ease-out, opacity .3s ease-out;
  transition: visibilty .3s ease-out, opacity .3s ease-out;
}

.work-item:hover .work-caption {
  visibility: visible;
  opacity: 1;
  z-index: initial;
}

.work-title {
  font-family: Lora, Georgia, serif;
  font-weight: 600;
}

.work-mark {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}

.work-link {
  display: inline-block;
  padding: .5rem 3rem;
  color: #313131;
  background-color: #fdfdfd;
}
/*# sourceMappingURL=style.css.map */
