.footer {
    padding: 5rem 0;

    @include respond-to('medium') {
        grid-area: footer;
        width: 320px;
        background-color: $color-grey-100;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-right: 1px solid $color-grey-200;
    }
}

.footer-copyright {
    display: block;
    font-size: 1.4rem;
    text-align: center;
    margin-top: .8rem;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: $color-grey-300;
    transition: color .25s cubic-bezier(.645,.045,.355,1);

    &:hover {
        color: $color-grey-800;
    }
}