.header {
    padding: 1.5rem 0;
    background-color: $color-grey-100;
    border-bottom: 1px solid $color-grey-200;

    @include respond-to('medium') {
        grid-area: header;
        border: none;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid $color-grey-200;
    }
}

.header-logo {
    display: none;

    @include respond-to('medium') {
        width: 80px;
        height: 80px;
        display: flex;
        margin: 0 auto 5rem;
    }
}


.logo {
    overflow: hidden;
    transition: transform .6s cubic-bezier(.68, -.55, .265, 1.55);

    &:hover {
        transform: rotate(180deg);
    }
}