@font-face {
  font-family: "BreeSerif Regular";
  src: url("../fonts/BreeSerif-Regular.otf");
  src: url("../fonts/BreeSerif-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadPro/MyriadProRegular.eot");
  src: url("../fonts/MyriadPro/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadPro/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/Ubuntu-Regular.ttf");
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*:focus {
  outline: none;
  border: none;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  z-index: 16;
  background: white;
}

.navbar.default .navbar-toggle {
  margin-top: 57px;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

.navbar.default .navbar-brand {
  margin: 51px 0 25px;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

.navbar.default .navbar-right {
  margin: 52px 30px 24px 0;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

.navbar.sticky {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.navbar.sticky .navbar-toggle {
  margin-top: 33px;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

.navbar.sticky .navbar-brand {
  margin: 26px 0;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

.navbar.sticky .navbar-right {
  margin: 27px 30px 24px 0;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

.navbar-brand {
  height: 51px;
  padding: 0;
  color: #3a494c;
}

.navbar-brand img {
  display: initial;
  max-width: 100%;
  margin-right: 5px;
  vertical-align: middle;
}

.navbar-brand span {
  display: inline-block;
  font: 40px "BreeSerif Regular", serif;
  line-height: 47px;
  text-transform: uppercase;
}

.navbar-toggle {
  border-radius: 0;
  border-color: #3a494c;
}

.navbar-toggle:focus {
  border: 1px solid #3a494c;
}

.navbar-toggle .icon-bar {
  background: #3a494c;
}

.navbar-nav li a {
  font: normal 18px "MyriadProRegular", sans-serif;
  line-height: 21px;
  color: #035d6e;
  background-color: transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
  color: #fff;
  background-color: #3a494c;
}

.navbar-nav li a:first-letter {
  text-transform: uppercase;
}

.navbar-nav li.active a {
  color: #fff;
  background-color: #3a494c;
}

.content {
  padding-top: 153px;
}

.carousel-indicators {
  bottom: 34px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-width: 3px;
  margin: 3px;
}

.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 2.5px 3px;
}

.carousel-inner .item {
  min-height: 515px;
}

.carousel-inner .item-1 {
  background: url("../img/slide-1.jpg") left top no-repeat;
}

.carousel-inner .item-2 {
  background: url("../img/slide-2.jpg") left top no-repeat;
}

.carousel-inner .item-3 {
  background: url("../img/slide-3.jpg") left top no-repeat;
}

.carousel-content {
  padding: 83px 0;
  max-width: 852px;
}

.carousel-content h1 {
  font: 64px "BreeSerif Regular", serif;
  line-height: 64px;
  color: #fff;
  margin-bottom: 21px;
}

.carousel-content p {
  font: 14px "Ubuntu Regular", sans-serif;
  line-height: 24px;
  color: #fff;
  text-align: justify;
  margin-bottom: 30px;
}

.carousel-content a.btn {
  padding: 7px 15px 10px;
  font: 20px/1 "BreeSerif Regular", serif;
  color: #3a494c;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.carousel-content a.btn:hover, .carousel-content a.btn:focus {
  color: #fff;
  background-color: #3a494c;
}

.services {
  position: relative;
  padding: 79px 0;
}

.services-anchor {
  position: absolute;
  height: 101px;
  width: 100%;
  top: -101px;
  left: 0;
  z-index: -1;
}

.services-block {
  max-width: 336px;
  margin: 0 auto 26px;
  text-align: center;
  webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.services-block h3 {
  font: 24px "BreeSerif Regular", serif;
  color: #3a494c;
  margin: 9px 0 15px;
}

.services-block p {
  font: 14px "Ubuntu Regular", sans-serif;
  line-height: 24px;
  color: #666;
}

.services-block-img {
  display: table-cell;
  width: 370px;
  height: 205px;
  text-align: center;
  vertical-align: middle;
}

.services-block-img img {
  max-width: 100%;
  max-height: 205px;
}

.portfolio {
  position: relative;
  background: url("../img/portfolio-bg.jpg") left top repeat-y;
}

.portfolio-anchor {
  position: absolute;
  height: 101px;
  width: 100%;
  top: -101px;
  left: 0;
  z-index: -1;
}

.portfolio-header {
  padding: 57px 0 47px;
  color: #fff;
  text-align: center;
}

.portfolio-header h1 {
  font: 60px/1 "BreeSerif Regular", serif;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.portfolio-header p {
  max-width: 565px;
  margin: 0 auto;
  font: 14px "Ubuntu Regular", sans-serif;
  line-height: 24px;
}

.portfolio-categories {
  text-align: center;
  padding-bottom: 50px;
}

.portfolio-categories .nav {
  display: inline;
  float: none;
}

.portfolio-categories .nav li {
  display: inline-block;
  float: none;
}

.portfolio-categories .nav li a {
  padding: 6px 13px;
  font: 20px "BreeSerif Regular", serif;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-categories .nav li a:hover, .portfolio-categories .nav li a:focus {
  color: #3a494c;
  background-color: #fff;
}

.portfolio-categories .nav li.active a {
  color: #3a494c;
  background-color: #fff;
}

.portfolio-thumbnails-hidden {
  display: none;
}

.portfolio-block {
  max-width: 370px;
  margin: 0 auto 40px;
}

.portfolio-block a {
  position: relative;
  display: block;
}

.portfolio-block a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-position: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-block a:hover::before {
  background: rgba(0, 0, 0, 0.3) url("../img/zoom.png") center no-repeat;
}

.portfolio-block img {
  max-width: 100%;
}

.portfolio-more {
  padding-top: 10px;
  padding-bottom: 105px;
  text-align: center;
}

.portfolio-more .btn {
  padding: 7px 14px 11px;
  font: 20px/1 "BreeSerif Regular", serif;
  color: #3a494c;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-more .btn:hover, .portfolio-more .btn:focus {
  color: #fff;
  background-color: #3a494c;
}

@media (max-width: 992px) {
  .navbar-brand span {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row {
    margin: 0;
  }
  .navbar-brand {
    margin-left: 15px !important;
  }
  .navbar.default .navbar-right, .navbar.sticky .navbar-right {
    margin: 0 0 15px;
  }
}

@media (max-width: 535px) {
  .carousel-content h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .portfolio-header h1 {
    font-size: 40px;
  }
}

@media (max-width: 479px) {
  .container {
    width: auto;
  }
}

@media (max-width: 375px) {
  .navbar-brand span {
    display: none;
  }
  .carousel-content h1 {
    font-size: 33px;
    line-height: 33px;
  }
  .carousel-content a.btn {
    padding: 7px 15px;
    font-size: 14px;
  }
  .portfolio-categories .nav li a {
    font-size: 16px;
  }
}
